@import "../../globals.scss";

.sidebar {
    background-color: black;
    color: white;
    position: fixed;
    height: 100vh;
    width: 200px;
    .auth-button {
        display: inline-block;
        font-family: "Lato";
        width: 50%;
        margin-top: 2em;
        color: white;
        font-weight: bolder;
        font-size: 1.5rem;
        text-transform: uppercase;
        padding: 1em 0.6em;
        margin-left: 1em;
        background-color: #ef946c;
        border: none;
        transition: letter-spacing 0.2s ease-in;
        &:hover {
            letter-spacing: 0.05em;
            background-color: #dd845d;
        }
    }
    img {
        width: 100%;
        border-bottom: 2px solid white;
    }
    a {
        color: white;
        text-decoration: none;
    }
    h1 {
        padding: 0.5em;
        font-size: 3rem;
        font-weight: bolder;
        position: relative;
        letter-spacing: 0.12em;
        &::after {
            content: "";
            color: white;
            position: absolute;
            left: 10%;
            bottom: 0;
            height: 1px;
            width: 0%;
            transition: width 0.3s ease-in;
            border-bottom: 6px solid #999ac6;
        }
        &:hover {
            &::after {
                width: 70%;
            }
        }
    }
    .navbar {
        margin-top: 5rem;
        ul > li {
            font-size: 2rem;
            padding: 1em;
            font-weight: bold;
            position: relative;
            a {
                color: white;
                text-decoration: none;
            }
            &::after {
                content: "";
                color: white;
                position: absolute;
                left: 10%;
                bottom: 0;
                height: 1px;
                width: 0%;
                transition: width 0.3s ease-in;
                border-bottom: 6px solid #999ac6;
            }
            &:hover {
                &::after {
                    width: 70%;
                }
            }
        }
    }
}
